<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-4">
                <img class="match-champion-icon" alt="Champion icon" src="http://ddragon.leagueoflegends.com/cdn//* match.championData.version *//img/champion//* match.championData.imageFull */" />
                <!-- <div class="match-champion-icon champion-icon-unknown"><i class="fa fa-question fa-3x"></i></div> -->
        </div>
        <div class="col-xs-4">
            <h4>/* match.gameMode */</h4>
            <h2>/* match.since */</h2>
        </div>
        <div class="col-xs-4">
            <h4>/* match.stats.championsKilled */ / /* match.stats.numDeaths */ / /* match.stats.assists */</h4>
            <h2>KDA /* match.kda */</h2>
        </div>
    </div>
</div>
