<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Steam Test</title>
  <meta name="description" content="Steam Test">
  <meta name="author" content="Aleksi Monaco">

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style>
    button {
      height: 100px;
      width: 100px;
      border-radius: 50% !important;
    }
  </style>
</head>

<body>
  {% for id in newsitems %}
    <h1>{{ id.title }}</h1>
    <p> {{ id.contents | raw }}</p>
  {% endfor %}

  <a href="{{ DOMAIN }}/game/news">
    <button class="btn btn-success btn-lg">Get news</button>
  </a>
</body>
</html>