<h1 class="col-xs-12 col-sm-10 col-sm-offset-1 page-header">Welcome to LolPerformance! <small>Check how you've performed lately</small></h1>
<div class="row col-xs-12 col-sm-10 col-sm-offset-1">
    <h2 class="col-xs-12">Type in your summoner name and hit search!</h2>
    <form id="search-form" class="col-xs-12 col-sm-4"action="{{ DOMAIN }}/search" method="POST">
        <input id="search-keyword" class="form-control" name="search_keyword" type="text" value="{{ search_keyword }}"/>
        <input id="search-button" class="form-control" name="submit" type="submit" value="Search" />
        {{#if error}}
            <div class="alert alert-danger">{{ error }}</div>
        {{/if}}
    </form>
</div>
    
